#grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,135px);
}

#grid div{
    background-color: green;
    color: white;
    font-size: 4vw;
    padding-top: 1rem;
    padding-left: 1rem;
}

#grid div:nth-child(1){
    grid-column: span 4;
}

#grid div:nth-child(2){
    grid-row: span 4;
}

#grid div:nth-child(4),#grid div:nth-child(4){
    grid-column: span 2;
}

#grid div:nth-child(10){
    grid-column: span 3;
}
